.page-container{
    padding: 20px;
}
.post-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    /* .post-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    } */
    .page-container{
        padding: 80px;
    }
}
.btn-grp{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}