/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--md-test-page-background);
}
button{
    border: none;
    box-shadow: none;
    background-color: var(--md-test-primary);
    border-radius: 24px;
    padding: 1rem 1.5rem;
    color: #fff;
}

.text-500{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 125% */
    letter-spacing: -0.25px;
}
.t-24-b{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.5px;
}
.t-20-b{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;

}
.t-18-b{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.5px;
}
.t-18-m{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;

}
.t-16-b{
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.8px;
}
.t-16-m{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.8px;
}
.t-15-b{
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 150% */
    letter-spacing: -0.312px;
}
.t-15-m{
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 150% */
    letter-spacing: -0.312px;
}
.t-12-b{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: -0.25px;
}
.t-12-m{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 125% */
    letter-spacing: -0.25px;
}
.t-11-b{
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.229px;
}
.t-11-m{
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: -0.229px;
}

.md-test-input{
    border: 1px solid var(--md-test-input-border);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: var(--md-test-background-light);
    color: var(--md-test-main-color);
}
.md-test-input:focus{
    outline: 1px solid var(--md-test-label);
}
.md-input-form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.md-input-label{
    color: var(--md-test-label);
    text-transform: capitalize;
}
/* input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px; 
    background-color: red;
    color: #fff;
} */
 .md-btn-group{
    display: flex;
    justify-content: center;
 }
 button{
    cursor: pointer;
 }